# INVENTORY MANAGEMENT SYSTEM

###Reading the json files records.json and sales.json

In [ ]:
#This section of code reads the contents in the records.json file and stores into dictionary records

import json 
import time  

file = open("records.json","r")     #Reading records.json
txt = file.read()
file.close()
records = json.loads(txt)

file = open("sales.json",'r')   #Reading sales.json
txt = file.read()
file.close()
txns = json.loads(txt)

txnid = []
for i in txns.keys() :
  txnid.append(int(i))
txnid = max(txnid)

###Display records dictionary

In [ ]:
#This section prints the items in records

print(f'{"ID":<6}',f'{"NAME":<20}',f'{"PRICE(Rs)":<10}',f'{"QUANTITY":<9}')
for i in range(48) : print("-",end = "")
print()
for i in records.keys() :
  name = records[i]['name']
  pr = records[i]['pr']
  qn = records[i]['qn']
  print(f'{i:<6}',f'{name:<20}',f'{pr:<10}',f'{qn:<9}')

ID     NAME                 PRICE(Rs)  QUANTITY
------------------------------------------------
1001   Choco Cake           100        25
1002   Milk Cake            800        100
1003   Drink                85         150
1004   Candy                5          450
1005   Pen                  20         198
1006   Phone                50000      9
1007   Mic                  1500       48
1008   Case                 599        5
1009   Keyboard             1999       10
1010   Laptop               50000      49
1011   Trimmer              560        70
1012   Notebook             30         197
1013   Bag                  300        40
1014   Shoe                 700        99
1015   Earphones            400        48
1016   Camera               2000       80
1017   Mattress             900        75
1018   Chair                470        88
1019   TV                   39999      20
1020   AC                   15999      31
1021   Microwave            7999       49
1022   Refrigerator         26999      160
1023   Washing Machine      15999      30
1024   Helmet               599        79
1025   Car cover            799        199
1026   Bike cover           599        200
1027   Vacuum cleaner       23999      60
1028   Perfume              759        250
1029   Painting kit         300        280
1030   Bottle               70         500
1031   Soap                 40         300
1032   Towel                70         197
1033   Mouse                400        120
1034   Pillow               200        300
1035   Slippers             250        300

###Display the transactions

In [ ]:
# txnid :{pdtid,name,pr,qn,fn} 
print(f'{"TRANSACTION_ID":18}',f'{"ID":<6}',f'{"NAME":<20}',f'{"PRICE(Rs)":<10}',f'{"QUANTITY":<9}',f'{"FUNCTION":<13}',f'{"DATE AND TIME"}')
for i in range(110) : print("-",end = "")
print()
for i in txns.keys() :
  pdtid = txns[i]['pdtid']
  name = txns[i]['name']
  pr = txns[i]['pr']
  qn = txns[i]['qn']
  fn = txns[i]['fn']
  ti=txns[i]['ti']
  print(f'{i:<18}',f'{pdtid:<6}',f'{name:<20}',f'{pr:<10}',f'{qn:<9}',f'{fn:<13}',f'{ti:<30}')

TRANSACTION_ID     ID     NAME                 PRICE(Rs)  QUANTITY  FUNCTION      DATE AND TIME
--------------------------------------------------------------------------------------------------------------
1                  1001   Choco Cake           100        5         PURCHASED     Sun Sep  5 17:00:32 2021
2                  1003   Drink                85         150       ADDED         Sun Sep  5 17:01:11 2021
3                  1031   Soap                 40         300       NEW           Sun Sep  5 17:02:01 2021
4                  1032   Towel                70         200       NEW           Sun Sep  5 17:02:24 2021
5                  1005   Pen                  20         200       ADDED         Sun Sep  5 17:03:10 2021
6                  1005   Pen                  20         2         PURCHASED     Sun Sep  5 17:03:25 2021
7                  1033   Mouse                400        100       NEW           Sun Sep  5 17:18:01 2021
8                  1033   Mouse                400        120       ADDED         Sun Sep  5 17:18:35 2021
9                  1014   Shoe                 700        1         PURCHASED     Sun Sep  5 17:19:06 2021
10                 1034   Pillow               200        300       NEW           Sun Sep  5 17:20:13 2021
11                 1035   Slippers             250        300       NEW           Sun Sep  5 17:20:39 2021
12                 1029   Painting kit         300        0         REMOVED       Sun Sep  5 17:21:05 2021
13                 1021   Microwave            7999       1         PURCHASED     Sun Sep  5 17:21:44 2021
14                 1025   Car cover            799        1         PURCHASED     Sun Sep  5 17:22:16 2021
15                 1029   Painting kit         300        280       ADDED         Sun Sep  5 17:23:07 2021
16                 1032   Towel                70         3         PURCHASED     Sun Sep  5 17:25:46 2021
17                 1036   Shampoo              120        150       NEW           Mon Sep  6 04:06:35 2021
18                 1026   Bike cover           599        250       ADDED         Mon Sep  6 04:08:30 2021

###Adding new products to the records

In [ ]:
#This section adds new product to the product details

pdtid = input("Enter the product id : ")
name = input("Enter the product name : ")
pr = int(input("Enter the product price : "))
qn = int(input("Enter the quantity of the product : "))
records[pdtid] = {'name':name,'pr':pr,'qn':qn}
print("PRODUCT ADDED") 

txnid = txnid +1     #Updating txns
ti = time.ctime()
txns[txnid] = {'pdtid':pdtid,'name':name,'pr':pr,'qn':qn,'fn':"NEW",'ti':ti}

Enter the product id : 1036
Enter the product name : Shampoo
Enter the product price : 120
Enter the quantity of the product : 150
PRODUCT ADDED

###This section is used to add existing products

In [ ]:
pdtid = input("Enter the product id : ")
name = records[pdtid]['name']
print("Product name : ",name)
pr = records[pdtid]['pr']
print("Product price : ",pr)
qn = records[pdtid]['qn']
print("Available product quantity : ",qn)
qt = int(input("Enter the quantity to be added : "))
qn = qt + qn
records[pdtid] = {'name':name,'pr':pr ,'qn':qn}
print("PRODUCT ADDED") 


txnid = txnid +1     #Updating txns
ti = time.ctime()
txns[txnid] = {'pdtid':pdtid,'name':name,'pr':pr,'qn':qn,'fn':"ADDED",'ti':ti}

Enter the product id : 1026
Product name :  Bike cover
Product price :  599
Available product quantity :  200
Enter the quantity to be added : 50
PRODUCT ADDED

###Removing a product

In [ ]:
#Removing a product makes its quantity 0

pdtid = input("Enter the product id : ")
records[pdtid]['qn'] = 0
print("Product quantity made 0")

#Updating txns 
txnid = txnid +1
ti = time.ctime()
name = records[pdtid]['name']
pr = records[pdtid]['pr']
qn = records[pdtid]['qn']
txns[txnid] = {'pdtid':pdtid,'name':name,'pr':pr,'qn':qn,'fn':"REMOVED",'ti':ti}

Enter the product id : 1029

###Purchase of a product

In [ ]:
pdtid = input("Enter the product id : ")
print(f'{"Product name":<13}',': ',records[pdtid]['name'])
print(f'{"Price":<13}',': ',records[pdtid]['pr'])
print(f'{"Quantity":<13}',': ',records[pdtid]['qn'])
qt =int(input("Enter quantity to be purchased : "))
if(qt > records[pdtid]['qn']) : print ("Note : Excess quantity entered\nQuantity available : ",records[i]['qn'])
else :
  print("Bill(Rs) : ",records[pdtid]['pr']*qt)
  print("Product successfully purchased")
  records[pdtid]['qn'] = records[pdtid]['qn'] - qt
  txnid = txnid +1         #Updating txns
  ti = time.ctime()
  name = records[pdtid]['name']
  pr = records[pdtid]['pr']
  qn = records[pdtid]['qn']
  txns[txnid] = {'pdtid':pdtid,'name':name,'pr':pr,'qn':qt,'fn':"PURCHASED",'ti':ti}

Enter the product id : 1032
Product name  :  Towel
Price         :  70
Quantity      :  200
Enter quantity to be purchased : 3
Bill(Rs) :  210
Product successfully purchased

###Writing the json files records.json and sales.json

In [ ]:
file = open ("records.json",'w')    #writing records.json
txt = json.dumps(records)
file.write(txt)
file.close()


file = open ("sales.json",'w')    #writing sales.json
txt = json.dumps(txns)
file.write(txt)
file.close()

###Product deletion

In [ ]:
###This section is used only to delete the product along with product id if any mistake is made while entering the product id

wrongid = input("Enter the incorrectly typed id : ")
if wrongid in records.keys() :
  del records[wrongid]
  print("ID DELETED")
else :
  print("***THIS INCORRECT ID HAS NOT BEEN ENTERED***")

Enter the incorrectly typed id : 3
***THIS INCORRECT ID HAS NOT BEEN ENTERED***

#Program ends here